<!doctype html>
<html lang="en">
<!-- Body Contents -->
<br/><br/>

<div class="container-fluid">
<br/><br/>
<div style="width:100%; height:1px; background:#DDD"> </div>
<br/>
<br/>
    <div class="row-fluid extraPadding">
        <div class="col-md-12">
            <div class="row-fluid menu">
				<div class="col-md-3">
                </div>
                <div class="col-md-6 l-align box">
					{{#if display_msg}}
					<div class="alertmsg">
						{{message}}
					</div>
					{{/if}}
                    <form class="form" method="post" action="req-admin-login">
                        <h1>Admin Login</h1>
                        <h2>For security, please login as admin again</h2>
                        <input type="text" name="loginusername" id="loginusername" placeholder="Username" />
                        <input type="text" name="loginpassword" id="loginusername" placeholder="Password" />
                        <input type="submit" name="login" value="Submit" class="gradient_green" />
                    </form>
                    <br/><br/><br/><br/>
                </div>
                <div class="col-md-3">
                </div>
              
            </div>

        </div>
    </div>
</div>
<br/><br/>
<!-- Footer content -->
<div class="container-fluid footer c-align">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</html>