<!doctype html>
<html lang="en">
<head>
   
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="css/main.css"/>

</head>
<body>
<div style="padding: 30px; padding-top:0px;">
<!-- Nav tabs -->
<br/><br/>
<div style="width:100%; height:1px; background:#DDD"> </div>

<!-- Google analytics embedded graphic  -->
<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRyahld9SvvA6cDuj_YtkY7bXHpXTvRQYLCGaU0WbuT9EQ27-eLai1EWBcpr8PFpkMViK40YlciwUtD/pubchart?oid=1114718989&amp;format=interactive"></iframe>


<div class="container row">

<h2>{{title}}</h2><hr/>
</div>
<br/>

<div>Analytics content goes here...</div>
<br/>
<br/>



<!-- Footer content -->
<div class="container-fluid footer c-align" style="display:table;">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS SFSU Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</div>
</body>
</html>