<div class="jumbotron text-center">
  <h1 align="center">{{title}}</h1>
</div>
<div class="container">
  <div class="row">  
    <div class="col-md-6" style="padding-top: 10px;">
      <img src="/images/greg.jpg" width="480" height="640" style="border-radius: 25px;" />
    </div>
    <div class="col-md-6">
      <h2 align="center">About Greg</h2>
      <p>Hello, my name is Greg. I am a Computer Science student at SFSU. I like a lot of different things. Thanks. </p>
    </div>
  </div>
</div>
