<!DOCTYPE html>
<!-- This is the main "Layout" and entry point of the app. The main "view"  This is what we see when we access the app -Greg -->
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
      <link rel="stylesheet"  href="/stylesheets/main.css"/>
  </head>
  <body>
  <div class="jumbotron text-center" style="margin-bottom:0">
      <h2 class = text-black>SFSU 648-848 Fall 2019 Global Team Software Engineering Project</h2>
      <p class = text-black>For Demonstration purposes only.</p>
  </div>
  <br/>
  <div class="container-fluid">
      <div class="row-fluid extraPadding">
          <div class="col-md-12">
              <div class="row-fluid ">
                  <div class="col-md-3 rview">
                      <!-- <img src="img/gator.png" class="img"/> -->
                      <p class="logo"><a href="/">Gator Trader</a></p>
                  </div>
                  <div class="col-md-5">
                      <form action="/search" method="POST" class="search">
                          <div class="row-fluid searchBox">
                              <div class="col-md-3">
                                  <select class="categories" id="dropdown" name="filter">
                                      <option selected>All</option>
                                      <option value="E">Electronics</option>
                                      <option value="B">Books</option>
                                      <option value="F">Furniture</option>
                                      <option value="O">Other</option>
                                  </select>
                              </div>
                              <div class="col-md-7">
                                  <input type="text" name="search" class="freetextsearch"/>
                              </div>
                              <div class="col-md-2">
                                  <input type="submit" class="searchbtn" name="searchbtn" value="Search"/>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-1 toppad">
                  {{#if user}}
                  </div>
                  <div class="col-md-1 toppad">
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             {{user}} Account
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Upload Item</a>
                              <a class="dropdown-item" href="#">Selling</a>
                              <a class="dropdown-item" href="#">Buying</a>
                              <a class="dropdown-item" href="#">Wishlist</a>
                              <a class="dropdown-item" href="/users/logout">Logout</a>
                          </div>
                      </div>
                      {{else}}
                          <a href="/users/login" class="searchbtn" >Login/Register</a>
                      {{/if}}
                  </div>
              </div>

  {{{body}}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
  </body>
</html>
