<!doctype html>
<html lang="en">
<!-- Body Contents -->
<br/><br/>
{{message}}
<div class="container-fluid">
    <div class="row-fluid extraPadding">
        <div class="col-md-12">
            <div class="row-fluid menu">
                <div class="col-md-5 l-align box">
                    <form class="form" method="post" action="loggedin">
                        <h1>Login</h1>
                        <p>For return users who already have an account.</p>
                        <input type="text" name="loginusername" id="loginusername" placeholder="Username" />
                        <input type="text" name="loginpassword" id="loginusername" placeholder="Password" />
                        <input type="submit" name="login" value="Submit" class="gradient_green" />
                    </form>
                    <br/><br/><br/><br/>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6 l-align box">
                    <form class="form" method="post" action="register">
                        <h1>Register</h1>
                        <p>For new users without accounts.</p>
                        <input type="text" name="name" placeholder="Full Name"/>
                        <input type="text" name="email" placeholder="E-Mail"/>
                        <input type="text" name="username" placeholder="Username"/>
                        <input type="text" name="password" placeholder="Password"/>
                        <input type="submit" name="register" value="Submit" class="gradient_green" />
                    </form>
                    <br/><br/>
                </div>
            </div>

        </div>
    </div>
</div>
<br/><br/>
<!-- Footer content -->
<div class="container-fluid footer c-align">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</html>