<div class="container">
      <img src="/images/gator.png" width="400" height="400" alt="Avatar" class="center-block avatar">
</div>
<div class="container col-md-12">
    <div class="col-md-6">
        <h1> Sign up </h1>
        <form method="post" action="register">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="name" class="form-control" id="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="e-mail">E-mail</label>
                    <input name="email" type="email" class="form-control" id="inputemail" placeholder="e-mail">
                </div>
                <div class="form-group">
                    <label for="user-name">Username</label>
                    <input name="username" type="username" class="form-control" id="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="pass-word">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
       <h1>Login</h1>
       <form method="post" action="loggedin">
                <div class="form-group">
                  <label for="loginusername">Username</label>
                  <input name="loginusername" type="loginusername" class="form-control" id="loginusername" placeholder="username">
                </div>
                <div class="form-group">
                  <label for="loginpassword">Password</label>
                  <input name="loginpassword" type="loginpassword" class="form-control" id="loginpassword" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
       </form>
    </div>
</div>
