<!doctype html>
<html lang="en">
<!-- Body Contents -->
<br/><br/>
{{message}}
<br/><br/>
    <br/><br/>
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="row menu">
                <div class="col-md-5 l-align box">
                    <form class="form" method="post" action="loggedin">
                        <h1>Login</h1>
                        <p>For return users who already have an account.</p>
                        <input type="text" name="loginusername" id="loginusername" placeholder="Username" />
                        <input type="password" name="loginpassword" id="loginusername" placeholder="Password" />
                        <input type="submit" name="login" value="Submit" class="gradient_green" />
                    </form>
                    <br/><br/><br/><br/>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5 l-align box">
                    <form class="form" method="post" action="register">
                        <h1>Register</h1>
                        <p>For new users without accounts.</p>
                        <input type="text" name="name" placeholder="Full Name"/>
                        <input type="text" name="email" placeholder="E-Mail"/>
                        <input type="text" name="username" placeholder="Username"/>
                        <input type="password" name="password" placeholder="Password"/>
                        <div class="form-check" style= "position: absolute; margin-left: -20px">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style= "position: absolute; margin-left: -63px">
                            <label class="form-check-label" for="defaultCheck1" style="margin-top: 15px;" >
                            &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;I agree to terms
                            </label>
                        </div>
                        <br/><br/></br>
                        <input type="submit" name="register" value="Submit" class="gradient_green" />
                    </form>

                    <br/><br/>
                </div>
            </div>

        </div>
    </div>
    </div>
  <br/><br/>
<br/><br/>
<!-- Footer content -->
<div class="container-fluid footer c-align">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</html>