<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="css/main.css"/>
</head>
<body>
<!-- Nav tabs -->
<br/><br/>
<h2><a href="javascript:history.back()">Back to Dashboard<a/></h2><hr/>
<div class="container-fluid">
    <div class="row-fluid menu">
        <div class="col-md-5 l-align box">
            <h1>{{item}}</h1>
            <div class="form row-fluid" method="post">
                <div class="col-md-6">
                    <img src="img/4.jpg" height="170"/>
                </div>
            </div>
            Category: Electronic<hr/>
            Macbook Laptop<br/>
            This macbook is 8GB memory, 200GB HDD<br/>
            Retina Display, Slightly Used <br/>
            <br/><br/><br/><br/>
        </div>
    </div>
</div>
<br/><br/>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12 l-align box">
            <h2>Messages</h2><hr/>
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row-fluid tabs" style="height:60px;">
                    <div class="col-md-2 filterlink c-align">
                        Buyer Name
                    </div>
                    <div class="col-md-2 filterlink c-align">
                        Count of messages
                    </div>
                    <div class="col-md-2 filterlink c-align">
                        <a href="" class="buyNow">View All Messages</a>
                    </div>
                </div>
                <div class="row-fluid tabs" style="height:60px;">
                    <div class="col-md-2 filterlink c-align">
                        Buyer Name
                    </div>
                    <div class="col-md-2 filterlink c-align">
                        Count of messages
                    </div>
                    <div class="col-md-2 filterlink c-align">
                        <a href="" class="buyNow">View All Messages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/><br/>
<!-- Footer content -->
<div class="container-fluid footer c-align">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</body>
</html>