<div class="jumbotron text-center">
    <h1>Hi This is Michael</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="padding-top: 10px;">
        <img src="/images/michael.jpg" width="480" height="480" style="border-radius: 25px;" />
      </div>
      <div class="col-sm-6">
        <h3>About Me</h3>
        <p>Hey my name is Michael and I am an international Student from Germany.</p>
        <p>I am interessted in programming, music, hiking and more!</p>
      </div>
    </div>
  </div>
