<div class="jumbotron text-center">
   <h2 align="center">Search Results</h2>
</div>
<div class="container">
    <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each results}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td>{{this.Price}}</td>
                    <td>{{this.Description}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
    </div>
</div>