<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="css/main.css"/>
</head>
<body>
            <br/><br/><br/><br/>
            <div class="container">
            <center><h1>Upload Product for Sale</h1>
                <small>All fields are mandatory.</small>
            </center>
            {{#if user}}
                <form class="form" method="post" enctype="multipart/form-data" action="/users/postitem">
            {{else}}
                <form class="form" method="post" action="/users/postitemlazy">
            {{/if}}
                <div class="row-fluid menu box l-align">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 l-align">
                        <h3>Item Image Upload</h3>
                        <p>Select the images of the product you want to upload here</p>
                        <input type="file" name="avatar" placeholder="upload image" style="height:40px;background: #eee;" required />

                    <h3>Details</h3>
                    <p>Kindly provide details about the item you want to sell</p>
                        <input type="text" name="itemname" placeholder="Item Name" required/>
                    <textarea name="itemdescription" required>{{description}}</textarea>
                    <input type="text" name="price" placeholder="Price" required/>
                    <select name="category">
                        <option value="E">Electronics</option>
                        <option value="B">Books</option>
                        <option value="F">Furniture</option>
                        <option value="O">Other</option>
                    </select>
                    <input type="submit" name="register" value="Upload Item" class="gradient_green" />

                    <br/><br/>
                </div>
                <div class="col-md-3"></div>
              </div>
            </form>
            </div>
                <br/><br/>
                <!-- Footer content -->
                <div class="container-fluid footer c-align">
                    <div class="row-fluid">
                        <div class="col-md-12">
                            Copyright &copy; GSDS Project Work, 2019. All rights reserved
                        </div>
                    </div>
                </div>

                <script src="js/jquery-1.12.4.min.js" ></script>
                <script src="js/bootstrap.min.js" ></script>
</body>
</html>

