<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="css/main.css"/>
</head>
<body>
            <br/><hr/><br/><br/>

            <h1>Upload Product for Sale</h1>
            <form class="form" method="post" sty>
                <div class="row-fluid menu box l-align">
                    <div class="col-md-5 l-align ">
                        <h3>Item Image Upload</h3>
                        <p>Select the images of the product you want to upload here</p>
                        <input type="file" name="username" placeholder="Username" style="height:220px;background: #eee;" />
                        <br/><br/><br/><br/>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-6 l-align">

                        <h3>Details</h3>
                        <p>Kindly provide details about the item you want to sell</p>
                        <input type="text" name="username" placeholder="Item Name"/>
                        <textarea name="username" >Item details
                                    </textarea>
                        <input type="text" name="price" placeholder="Price"/>
                        <select name="category">
                            <option value="">Category 1</option>
                        </select>
                        <input type="button" name="register" value="Upload Item" class="gradient_green" />

                        <br/><br/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/>
<!-- Footer content -->
<div class="container-fluid footer c-align">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</body>
</html>
