
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Shubham Gupta</h1>
  <p>San Francisco State University</p>
</div>

<div class = "container">

    <div class = "row">
        <div class =col-lg-6>
            <img src="/images/shubham.jpg" width="500" height="333">
        </div>
        <div class="col-sm-6">
            <h3>About Me</h3>
            <p>Github Link: www.github.com/BCGupta</p>
            <p>I am a Computer Science student pursuing my undergrad. I have an interest in cars as well as playing drums!</p>
        </div>
    </div>
</div>

