<h1 align="center">{{title}}</h1>
<div class="jumbotron text-center">
    <h1>Hi This is Suraj</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Photo</h3>
        <img src="/images/Suraj.jpeg" alt="Suraj" width="500" height="333">
      </div>
      <div class="col-sm-6">
        <h3>About Me</h3>
        <p>I am an international Student from India</p>
        <p>I Really like this class because it teaches me a lot of real world experience and gives a real feel of working in a company. Being in a global team, it feels kind of nerve-wracking but i am really looking forward to take it as challenge and do
          good in it</p>
      </div>
    </div>
  </div>