  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Team 14</span>
  </nav>
  <h1 align="center">{{title}}</h1>
  <p align="center"> 
    Hello, we are Team 14. Our team is Shubham  
  </p>
